# Salin file ini menjadi .env dan isi dengan data kamu
PG_HOST=localhost
PG_PORT=5432
PG_DB=accidentguard
PG_USER=postgres
PG_PASSWORD=password_kamu
JWT_SECRET=ganti_dengan_string_acak_panjang
PORT=3000
